.App {
  text-align: center;
  border-bottom: 1px solid black;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

.App-vertical-nav {
  float: left;
  width: 25%;
  border-right: 1px solid black;
}

.App-main-content {
}
